{% extends 'base.html.twig' %}

{% block title %}New Historic{% endblock %}

{% block body %}
    <h1>Create new Historic</h1>

    {{ include('historic/_form.html.twig') }}

    <a href="{{ path('historic_index') }}">back to list</a>
{% endblock %}
