{% extends("partials/menustandard/menu.html.twig") %}

{% block title %}New MediaMovie{% endblock %}

{% block contenu %}
    <h1>Create new MediaMovie</h1>

    {{ include('media_movie/_form.html.twig') }}

    <a href="{{ path('media_movie_index') }}">back to list</a>
{% endblock %}
